<h1>Welcome to the Puzzle Generator!</h1>
<form action ="/result">
  <div class ="form-group">
    <label for="entry">Enter a phrase:</label>
    <input id="entry" name="entry" class="form-contol" type="text">
  </div>
  <button type="submit" name="btn-success" id="send">send</button>
</form>
