<h1 class ="undersize">Welcome to the</h1>
<h1 class = "bigsize">PUZZLE GENERATOR</h1>
<h3>Enter a phrase below to create your own word puzzle:</h3>
<form action ="/result">
  <div class ="form-group">
    <label for="entry"></label>
    <input id="entry" name="entry" class="form-contol" type="text">
  </div>
  <button type="submit" name="btn btn-warning" id="send">See your Puzzle!</button>
</form>
