<div class="wrapper">
  <div class="container-1">
    <h1 class ="undersize">Welcome to the</h1>
    <h1 class = "bigsize">Puzzle Generator</h1>
    <h3 class = "othertext">Enter a phrase below to create your own word puzzle:</h3>
    <form action ="/result">
      <div class ="form-group">
        <label for="entry"></label>
        <input id="entry" name="entry" class="form-contol" type="text">
        <button type="submit" name="btn btn-default" id="send">GO!</button>
      </div>
    </form>
  </div>
</div>
